/* Reset html original styles*/

body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

/* Menu */
.menu {
  background-color: #252525;
  padding: 20px 0;
}

.menuContainer {
  max-width: 960px;
  /* centralizar */
  /* primeiro valor cima e baixo, segundo valor esq e direita */
  margin: 0 auto;
}

/* clear fix - to fix double float in the container */
.menuContainer::after,
.menuContainer::before {
  content: "";
  display: table;
  clear: both;
}

/* link  */
.menuLogo {
  /* ocupa 100%  */
  display: block;
  float: left;
  margin-left: 10px;
}

.menuNav {
  float: right;
  margin-right: 10px;
}

.menuNav li {
  display: inline-block;
}

.menuNav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  /* 18px - base do browser = 16 px (padrão) -> 18 / 16 == 1.125em */
  font-size: 1.125em;
}

/* INTRO  */
.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  /* height: 500px; */
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

/* separador */
.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  /* centralizar e 10px baixo e cima */
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

/* SOBRE */
.about {
  padding: 60px 0;
}

.aboutContainer {
  max-width: 960px;
  /* centralizar */
  /* primeiro valor cima e baixo, segundo valor esq e direita */
  margin: 0 auto;
}

/* clear fix - to fix double float in the container */
.aboutContainer::after,
.aboutContainer::before {
  content: "";
  display: table;
  clear: both;
}

.about h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.aboutItem {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.aboutItem img {
  display: block;
  max-width: 100%;
}

.aboutItem h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;
  width: 225px;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  /* posicionamento */
  top: -25px;
  position: relative;
}

.about > p {
  font-size: 1.25em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}
